examples/bus.json
[
    {
        "id": "8740d4c87aa226d5",
        "type": "http request",
        "z": "66e0c9fac19ba178",
        "name": "APIからバス情報取得",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://kazuhitoyokoi.github.io/node-red-ogiri-nagoya/bus.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "9ae96b81d3eb6fe2"
            ]
        ]
    },
    {
        "id": "7d5ef118b8c6f3cb",
        "type": "inject",
        "z": "66e0c9fac19ba178",
        "name": "開始時に実行",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "8740d4c87aa226d5"
            ]
        ]
    },
    {
        "id": "9ae96b81d3eb6fe2",
        "type": "debug",
        "z": "66e0c9fac19ba178",
        "name": "地図UIに位置情報を渡す",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 220,
        "wires": []
    }
]
